@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&family=Source+Sans+3:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #0369a1;
  --color-primary-dark: #0f172a;
  --color-accent: #0284c7;
  --color-bg-page: #f8fafc;
  --color-text-main: #020617;
  --color-text-muted: #334155;

  --font-heading: 'Lexend', sans-serif;
  --font-body: 'Source Sans 3', sans-serif;

  --animate-float: float 6s ease-in-out infinite;
}

@layer base {
  body {
    @apply font-body bg-bg-page text-text-main overflow-x-hidden antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading leading-tight font-bold;
  }
}
